<app-header-publico></app-header-publico>
<div class="home-container">
  <header class="hero">
    <div class="hero-text">
      <h1>Bem-vindo à Prime Imobiliária!</h1>
      <p>Imóveis selecionados com excelência e transparência. O lugar perfeito para você começa aqui.</p>
    </div>
    <div class="hero-image">
      <img src="assets/img/baixados (5).jpeg" alt="Imóvel de Destaque">
    </div>
  </header>

  <section id="" class="imoveis-destaque">
    <h2>Imóveis</h2>

    <br>

    <div class="cards-container">
      <div class="card">
        <div class="card-header">
          <h3>Apartamento Família Espaçoso</h3>
        </div>
        <img src="assets/img/baixados (6).jpeg" alt="Mansão na Praia">
        <p>4 quartos (2 suítes), sala ampla em L, dependência de empregada, 3 vagas de garagem e playground no condomínio. Próximo a escolas e parques.</p>
      </div>

      <div class="card">
        <div class="card-header">
          <h3>Sobrado Moderno com Home Office</h3>
        </div>
        <img src="assets/img/baixados (5).jpeg" alt="Apartamento Central">
        <p>Sobrado novo com 3 quartos, espaço de home office, quintal gramado e garagem para 2 carros. Localização residencial e silenciosa.</p>
      </div>

      <div class="card">
        <div class="card-header">
          <h3>Casa Térrea em Bairro Nobre</h3>
        </div>
        <img src="assets/img/FACHADA MODERNA - F_N.jpeg" alt="Apartamento Central">
        <p>Casa térrea com jardim, piscina, área gourmet coberta e suíte master com closet. A 5 minutos da praia, rua tranquila e arborizada.</p>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
